In [9]:
from pandas import DataFrame

from app.logger import MongoDB

In [10]:
db = MongoDB()

In [11]:
raw_data = list(db.find_all())
data = raw_data[-1]

In [12]:
data.get("metadata")

{'ds_api': {'platform': 'FastAPI', 'title': 'SortingHat4', 'version': '4.4.2'},
 'logger': {'platform': 'MongoDB',
  'organization': 'Bloom Institute of Technology',
  'project': 'Labs',
  'database': 'SortingHat',
  'collection': 'Logs'},
 'timestamp': '2022-09-02T08:40:17.587003-07:00'}

In [13]:
projects_before = DataFrame(data.get("before").get("projects"))
projects_before

,id,product,teamCode,tracks,releaseManager,teamMemberSmtIds
0,LabsProject-0007,a2H7e0000018JONEA2,B,"[Web, Data Science]",Paul St.Germain,[00ubkk9xvbjWztCHt357]
1,LabsProject-0012,a2H7e0000018JOSEA2,C,"[Web, Backend]",Paul St.Germain,[]
2,LabsProject-0015,a2H7e0000018JOcEAM,B,"[Web, Data Science]",Ash Tilawat,[]
3,LabsProject-0009,a2H7e0000018JONEA2,D,"[Web, Data Science]",Paul St.Germain,[]
4,LabsProject-0003,a2H7e0000018JMREA2,A,[],,[]
5,LabsProject-0006,a2H7e0000018JONEA2,A,"[Web, Data Science]",Paul St.Germain,[]
6,LabsProject-0008,a2H7e0000018JONEA2,C,"[Web, Data Science]",Paul St.Germain,[]
7,LabsProject-0010,a2H7e0000018JOSEA2,A,"[Web, Backend]",Paul St.Germain,[]
8,LabsProject-0011,a2H7e0000018JOSEA2,B,"[Web, Backend]",Paul St.Germain,[]
9,LabsProject-0014,a2H7e0000018JOXEA2,B,"[Web, Backend]",Ash Tilawat,[]

In [14]:
projects_after = DataFrame(data.get("after").get("projects"))
projects_after

,id,product,teamCode,tracks,releaseManager,teamMemberSmtIds
0,LabsProject-0003,a2H7e0000018JMREA2,A,[],,[]
1,LabsProject-0007,a2H7e0000018JONEA2,B,"[Web, Data Science]",Paul St.Germain,[00ubkk9xvbjWztCHt357]
2,LabsProject-0015,a2H7e0000018JOcEAM,B,"[Web, Data Science]",Ash Tilawat,[]
3,LabsProject-0009,a2H7e0000018JONEA2,D,"[Web, Data Science]",Paul St.Germain,[]
4,LabsProject-0006,a2H7e0000018JONEA2,A,"[Web, Data Science]",Paul St.Germain,[]
5,LabsProject-0008,a2H7e0000018JONEA2,C,"[Web, Data Science]",Paul St.Germain,[]
6,LabsProject-0012,a2H7e0000018JOSEA2,C,"[Web, Backend]",Paul St.Germain,[]
7,LabsProject-0010,a2H7e0000018JOSEA2,A,"[Web, Backend]",Paul St.Germain,[]
8,LabsProject-0011,a2H7e0000018JOSEA2,B,"[Web, Backend]",Paul St.Germain,[]
9,LabsProject-0014,a2H7e0000018JOXEA2,B,"[Web, Backend]",Ash Tilawat,[]

In [15]:
learners_before = DataFrame(data.get("before").get("learners"))
learners_before

,oktaId,name,track,storyPoints,labsProject,labsTimeSlot,gitHubHandle,gitExpertise,dockerExpertise,playByEar,...,meaningOrValue,feelsRightOrMakesSense,favoriteOrCollect,tpmSkill1,tpmSkill2,tpmSkill3,tpmInterest1,tpmInterest2,tpmInterest3,tpmInterest4
0,00ui9tmk1yw825Thm357,Oliver Castellanos-Padilla,Web,0,a2G7e000001Rs9WEAS,[a2K7e000003GATyEAO],hambohambo,2,2,3,...,B,B,B,B,A,A,2,2,2,2
1,00ubkk9xvbjWztCHt357,00ubkk9xvbjWztCHt357,Web,0,LabsProject-0007,[],Test,1,1,1,...,A,A,A,A,A,A,1,1,1,1

In [16]:
learners_after = DataFrame(data.get("after").get("learners"))
learners_after

,oktaId,name,track,storyPoints,labsProject,labsTimeSlot,gitHubHandle,gitExpertise,dockerExpertise,playByEar,...,meaningOrValue,feelsRightOrMakesSense,favoriteOrCollect,tpmSkill1,tpmSkill2,tpmSkill3,tpmInterest1,tpmInterest2,tpmInterest3,tpmInterest4
0,00ui9tmk1yw825Thm357,Oliver Castellanos-Padilla,Web,0,a2G7e000001Rs9WEAS,[a2K7e000003GATyEAO],hambohambo,2,2,3,...,B,B,B,B,A,A,2,2,2,2
1,00ubkk9xvbjWztCHt357,00ubkk9xvbjWztCHt357,Web,0,LabsProject-0007,[],Test,1,1,1,...,A,A,A,A,A,A,1,1,1,1